<div style="text-align: center;">
  <h2>
    HOME Component
  </h2>

  <div class="go-to">
    SCENARIO A:<br />
    1. Refresh to load the AppShell from the ServiceWorker<br />
    2. Press the menu button<br />
    3. The preboot overlay is also triggered
  </div>

  <hr>

  <div class="go-to">
    SECARIO B:<br />
    1. Go to <a [routerLink]="['/videos']" mat-raised-button color="primary">/videos</a><br />
    2. Hit refresh<br />
    3. Notice the App is removed from the DOM
  </div>
</div>
